body{background-color: teal;}
header{font-size: 40px; color:lightpink; text-align:center; }
button{margin-left: 600px; color:blue; text-align:center;class:w3-round-large;}
div{border: 6px solid yellow;
margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
 text-align:center;}
h1{color: purple;}
details{color: black}
summary{color: white;}
footer{border: 6px solid white;color:yellow; text-align:center;}
img{border: 5px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;}
a{color: navy;}  

#hobby1{border-style: dashed; background-color: lightblue;  }

#hobby2{border-style: dotted; background-color: orange; }

#hobby3{ border-style: dashed; background-color: lightpink; } 